a {
	text-transform: none;
}

li {
	list-style: none;
}

header {
	display: block;
    margin: 0 auto;
    position: relative;
    width: 27%;
}

div.mj {
	width: 70%;
}

button#submit {
    margin-right: 10px;
}

input#search_submit {
    margin-left: 5px;
}

#search-section {

}

.form-wrapper {
	margin: 0 auto;
    display: flex;
    width: 27%;
}