.search-app a {
  text-transform: none; }

.search-app li {
  list-style: none; }

.search-app h1, .search-app h2, .search-app h3, .search-app h4, .search-app h5, .search-app p {
  display: flex;
  justify-content: center;
  text-align: center; }

.search-app header {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 29%; }

.search-app .form-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.search-app .form-wrapper #search_value {
  height: 40px;
  width: 220px; }

.search-app .form-wrapper #search_submit {
  height: 46px;
  width: 90px; }

.search-app .form-wrapper #submit {
  margin-right: 4px; }
