a {
	text-transform: none;
}

li {
	list-style: none;
}

h1, h2, h3, h4, h5, p {
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
	display: block;
    margin: 0 auto;
    position: relative;
    width: 29%;
}