#search-section {
	border-bottom: 1px solid #858585;
	padding-bottom: 2rem;

	.form-wrapper {
		margin: 0 auto;
	    display: flex;
	    justify-content: center;

		#search_value {
			height: 40px;
			width: 220px;
		}

		#search_submit {
			height: 46px;
			width: 90px;
		}

		#submit {
			margin-right: 4px;
		}
	}
}